*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 200px;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
h1{
    font-size: 4rem;
    padding-bottom: 2rem;
}
#email{
    width: 200px;
    height: 30px;
    border-radius: 0.5rem;
    border: 1px solid grey;
}
button{
    background-color: rgb(28, 117, 242);
    color: white;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    margin-left: 1rem;
}
button:hover{
    background-color: rgb(0, 70, 167);
}